{% extends "templates/basic.html" %}

{% block navigation %}
    {% if logged_in %}
    <a class="nav-link" href="/upload"></a>
    <a class="nav-link" href="/signout">Logout</a> 
    {% else %}
    <a class="nav-link" href="/auth/google">Login to Upload an Image</a> 
    {% endif %}
{% endblock %}

{% block contents %}
    <h1 class="cover-heading">Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
{% endblock %}
              
