{% extends "templates/basic.html" %}

{% block navigation %}
    {% if logged_in %}
        <a class="nav-link" href="/signout">Logout</a> 
    {% else %}
        <a class="nav-link" href="/auth/google">Login to Upload an Image</a> 
    {% endif %}
{% endblock %}

{% block contents %}
    <h1 class="cover-heading">Upload Your Image</h1>
        {% if logged_in %}
        <form>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </form>
        {% else %}
        <p class="lead">Oops, you must be logged in to upload an image</p>
        <p class="lead">
            <a href="/auth/google" class="btn btn-lg btn-secondary">Login with Google</a>
        </p>
        {% endif %}
    </main>
{% endblock %}

{% block postscript %}
    <script>
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endblock %}